---

---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-green-800  dark:[&>p>strong]:text-green-200/90 [&>p>strong]:font-normal text-pretty order-2 md:order-1"
  >
    <p>
        Mi nombre es Daniel Pérez y soy de Venezuela. Apasionado por la naturaleza  
        y con una sólida formación en la industria tecnológica, actualmente trabajo como ingeniero de datos. <strong
        >Soy experto en el desarrollo de software para la toma de decisiones basadas en datos.</strong
      >
    </p>
    

    <p>
        Uno de mis mayores logros laborales ha sido <strong
        >promover la cultura de datos</strong
      > en una empresa industrial con más de 200 empleados, <strong>mejorando la productividad y la eficiencia en la toma de decisiones.</strong>
    </p>

    <p>
      En lo personal, me interesa profundamente el <strong
        >balance entre mente y cuerpo</strong
      > y constantemente aplico hábitos que mejoran mi salud tanto física como emocional. Mi objetivo es alcanzar mi máximo 
      <strong> potencial creativo para desarrollar herramientas que ayuden a los demás.</strong>
    </p>
  </div>
   
  <img width="230" height="230" src="https://avatars.githubusercontent.com/u/69302088?v=4" 
  class="order-1 object-cover w-64 h-full p-1 md:order-2  lg:p-2 lg:w-72 aspect-square rounded-2xl bg-neutral-200 dark:bg-white/10  ring-1 ring-neutral-400 dark:ring-white/10 " style="object-position: 80% 80%">

</article>
