---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "May 2022 - Aug 2024",
    title: "Data Engineer",
    company: "LOU Legumes",
    description:
      "Encargado del diseño, creación y optimización de bases de datos. Responsable del desarrollo de software y herramientas que permitieron transformar los datos en información valiosa y accesible para personas de diferentes servicios.",
    link: "",
  },
  {
    date: "Dec 2021 - May 2022",
    title: "Data Analyst",
    company: "LOU Legumes",
    description:
      "Durante estas practicas, analicé grandes volúmenes de datos para calcular KPIs, desarrollé y mantuve dashboards, y apliqué modelos de machine learning para prever la estacionalidad de las ventas y crear previsiones fiables",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
        
      </li>
    ))
  }
</ol>