---
import Python from "../components/icons/Python.astro";
import SQL from "../components/icons/SQLServer.astro";
import PostgreSQL from "../components/icons/PostgreSQL.astro"
import MongoDB from "../components/icons/MongoDB.astro"
import Airflow from "../components/icons/Airflow.astro"
import DBT from "../components/icons/DBT.astro"
import AWS from "../components/icons/AWS.astro"
import Node from "../components/icons/Node.astro"
import React from "../components/icons/React.astro"
import Tailwind from "../components/icons/Tailwind.astro"
import Git from "../components/icons/Git.astro"
import Microsoft from "../components/icons/Microsoft.astro"
---



<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class ="flex flex-col items-center justify-center bg-neutral-200
    dark:bg-white/10 bg-opacity-50 
    rounded-lg p-4 hover:scale-110 transition 
    hover:bg-white/20 dark:hover:bg-white/20 border border-neutral-400
    dark:border-white/10 ">
        <Python class= "size-24" ></Python>
        Python
    </div>
    <div class ="flex flex-col items-center justify-center bg-neutral-200
    dark:bg-white/10 bg-opacity-50 rounded-lg p-4 hover:scale-110 transition 
    hover:bg-white/20 dark:hover:bg-white/20 border border-neutral-400
    dark:border-white/10 ">
        <SQL class= "size-24" ></SQL>
        SQL Server    
    </div>
    <div class ="flex flex-col items-center justify-center bg-neutral-200
    dark:bg-white/10 bg-opacity-50 rounded-lg p-4 hover:scale-110 transition 
    hover:bg-white/20 dark:hover:bg-white/20 border border-neutral-400
    dark:border-white/10  ">
        <PostgreSQL class= "size-24" ></PostgreSQL>
        PostgreSQL    
    </div>
    <div class ="flex flex-col items-center justify-center bg-neutral-200
    dark:bg-white/10 bg-opacity-50 rounded-lg p-4 hover:scale-110 transition 
    hover:bg-white/20 dark:hover:bg-white/20 border border-neutral-400
    dark:border-white/10  ">
        <MongoDB class= "size-24" ></MongoDB>
        MongoDB    
    </div>
    <div class ="flex flex-col items-center justify-center bg-neutral-200
    dark:bg-white/10 bg-opacity-50 rounded-lg p-4 hover:scale-110 transition 
    hover:bg-white/20 dark:hover:bg-white/20 border border-neutral-400
    dark:border-white/10  ">
        <AWS class= "size-28" ></AWS>
        AWS
    </div>
    <div class ="flex flex-col items-center justify-center bg-neutral-200
    dark:bg-white/10 bg-opacity-50 rounded-lg p-4 hover:scale-110 transition 
    hover:bg-white/20 dark:hover:bg-white/20 border border-neutral-400
    dark:border-white/10  ">
        <Airflow class= "size-28" ></Airflow>
        Airflow
    </div>
    <div class ="flex flex-col items-center justify-center bg-neutral-200
    dark:bg-white/10 bg-opacity-50 rounded-lg p-4 hover:scale-110 transition 
    hover:bg-white/20 dark:hover:bg-white/20 border border-neutral-400
    dark:border-white/10  ">
        <DBT class= "size-28" ></DBT>
        DBT
    </div>
    <div class ="flex flex-col items-center justify-center bg-neutral-200
    dark:bg-white/10 bg-opacity-50 rounded-lg p-4 hover:scale-110 transition 
    hover:bg-white/20 dark:hover:bg-white/20 border border-neutral-400
    dark:border-white/10  ">
        <Node class= "size-28" ></Node>
        Node.js
    </div>
    <div class ="flex flex-col items-center justify-center bg-neutral-200
    dark:bg-white/10 bg-opacity-50 rounded-lg p-4 hover:scale-110 transition 
    hover:bg-white/20 dark:hover:bg-white/20 border border-neutral-400
    dark:border-white/10  ">
        <React class= "size-24" ></React>
        React
    </div>
   
    <div class ="flex flex-col items-center justify-center bg-neutral-200
    dark:bg-white/10 bg-opacity-50 rounded-lg p-4 hover:scale-110 transition 
    hover:bg-white/20 dark:hover:bg-white/20 border border-neutral-400
    dark:border-white/10  ">
        <Tailwind class= "size-24" ></Tailwind>
        Tailwind CSS     
    </div>
    <div class ="flex flex-col items-center justify-center bg-neutral-200
    dark:bg-white/10 bg-opacity-50 rounded-lg p-4 hover:scale-105 transition 
    hover:bg-white/20 dark:hover:bg-white/20 border border-neutral-400
    dark:border-white/10  ">
        <Git class= "size-24" ></Git>
        Git & Github
    </div>
    <div class ="flex flex-col items-center justify-center bg-neutral-200
    dark:bg-white/10 bg-opacity-50 rounded-lg p-4 hover:scale-105 transition 
    hover:bg-white/20 dark:hover:bg-white/20 border border-neutral-400
    dark:border-white/10  ">
        <Microsoft class= "size-24" ></Microsoft>
        MS Tools
    </div>
</div>
